@media only screen and (min-width:1024px) {

    .navbar-expanded  {
        display: none;
    }

    .hamburger-btn {
        display: none;
    }

    .navbar-inner-container {
        justify-content: space-around;

        padding: 1rem;
    }

    .desktop-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        gap: 3vw;
    }

    .desktop-navbar .links-group-1 {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0;

        gap: 2vw;
    }

    .desktop-navbar .links-group-2 {
        width: fit-content;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0;

        position: relative;
        bottom: 0;

        gap: 1rem;
    }

    .desktop-navbar .navbar-link {
        width: fit-content;
        padding: 0;
        font-weight: 600;
        font-size: 20px;
    }

    .desktop-navbar .navbar-link:hover {
        color: var(--color-4);
    }

    .selected-navbar-link {
        background-color: inherit;
        color: var(--color-3);
        font-weight: 400;
    }

    #login-btn {
        margin: 0;
        padding: 1rem;
        width: fit-content;
    }

    #signup-btn {
        width: fit-content;
        padding: 1rem 2rem;
    }

    .hero-1 {
        padding: min(15vw,15vh);

        gap: 5vw;

        overflow: hidden;
        
    }


    .hero-1-title {
        font-size: xxx-large;
        line-height: 1.1;
    }

    .hero-1-desc {
        font-size: larger;
    }

    .hero-1 .content-container {
        max-width: 27rem;
    }

    .hero-1 {
        margin-top: 2.5rem;
        padding: 7rem;
    }
    .hero-grid {
        height: 35rem;
    }

    .hero-overlay {
        height: 35rem;
    }

    .hero-1 .cards-container {       
        width: 25rem;
        height: 25rem;
    }

    .card-1 {
        width: 12rem; 
        height: 10rem;

        top: 0%;
        left: 5%;
    }

    .card-2 {
        width: 6.7rem; 
        height: 4.6rem;

        top: 12%;
        right: -5%;
    }

    .card-3 {
        width: 17rem; 
        height: 9.3rem;

        top: 20%;
        right: 10%;
    }

    .card-4 {
        width: 9.3rem; 
        height: 3.3rem;

        bottom: 15%;
        right: 10%;
    }

    .card-5 {
        width: 18rem; 
        height: 9.6rem;

        bottom: 10%;
        left: -5%;
    }

    .hero-2 {
        margin-top: 0;
       margin-bottom: 3rem;
    }

    .hero-2-container {
        max-width: 50rem;
    }
    .hero-2-item-1 {
        max-width: 25rem;
    }

    .hero-2-item-2 {
        max-width: 25rem;
    }

    .hero-3 {
        padding: 1rem;
        align-items: center;
        gap: 5vw;
        
    }
    .hero-3 .content-container {
        margin-top: 0;
        padding-top: 0;
        max-width: 27rem;
    }

    .card-6 {
        scale: 0.6;
        top: -1.5rem;
        right: -25%;
    }

    .card-7 {
        scale: 0.6;
    }

    .card-8 {
        scale: 1.2;
    }
    .hero-3-title {
        font-size: xx-large;
    }

    .hero-3-description {
        font-size: larger;
    }
    .hero-3-title-br {
        display: block;
    }



}