body {
    background-color: var(--color-1);
}


.navbar {
    width: 100vw;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    z-index: 10;

    position: fixed;
    top: 0;
    background-color: var(--color-1);
}



.navbar-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 5vw;

    
}

.logo-and-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    gap: 0.5rem;

    width: fit-content;
}
.name {
    line-height: 2.5rem;
    padding: 1rem 0;
    font-size: 24px;
}
.logo-container {
    padding: 1rem 0;
}
.logo-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-4);
}

.desktop-navbar {
    display: none;
}

.hamburger-btn {

    background-color: inherit;
    border: none;

    cursor: pointer;

    position: absolute;
    top: 2rem;
    right: 5vw;
}

.hamburger-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-3);
}



.navbar-shadow {
    box-shadow: 0px -5px 25px var(--color-3);
}

.navbar-links {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    overflow: hidden;

}

.navbar-link {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}

.links-group-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.links-group-2 {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.login {
    align-self: center;
}

.signup {
    width: fit-content;
    padding: 1rem 2rem;
}

.hidden-navbar-section {
    display: none;
    clip-path: circle(0% at 90% 10%);
    transition: all 0.5s ease-in-out;
    
}
.navbar-expanded {
    display: inherit;
    clip-path: circle(210% at 90% 10%);
    margin-bottom: 3rem;
    scroll-behavior: unset;

    height: 75vh;
}

.hero-1 {
    margin-top: 6.5rem;
    padding: 2rem;
    height: fit-content;
    margin-bottom: 3rem;
}

.hero-grid {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 32rem;
    object-fit: cover;

    z-index: 0;

    border-bottom: 2px solid var(--color-4);

}
.hero-overlay {
    width: 100%;
    height: 32rem;
    position: absolute;
    background: linear-gradient(90deg, rgba(7,12,14,0) 0%, rgba(7,12,14,1) 75%);
    z-index: 1;
}

.hero-1-title {
    line-height: 1;
    font-size: xx-large;
}

.hero-1 .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1.5rem;

    max-width: 35rem;

    position: relative;
    z-index: 3;
}

.hero-1 .call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;

    transition: all 0.5s cubic-bezier(0.65,0,.076,1);
}

.hero-1 .cards-container {
    display: none;
}

.hero-2 {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.hero-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    
    width: 90vw;
    padding: 1rem;

    background: var(--color-2);

    border-radius: 12px;

}

.hero-2-title {
    font-size: xx-large;
}

.hero-2-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    gap: 1rem;

}

.hero-2-description {
    font-size: normal;
    line-height: 1.2;

}

.hero-2 .learn-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;

    position: relative;

    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;

    padding: 0;
    font-size: inherit;
    font-family: inherit; 

    color: var(--color-3);
}

.learn-more-arrow {
    width: 1rem;
    height: 1rem;

    fill: var(--color-3);
}

.hero-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 2rem;
    padding: min(10vw,10vh);
    height: fit-content;
}

.hero-3 .hero-grid, .hero-3 .hero-overlay {
    transform: rotate(180deg);
    height: 30rem;
}

.hero-3 .hero-grid {
    border-top: 2px solid var(--color-4);
}

.hero-3-title {
    font-size: xx-large;
}

.hero-3 .cards-container {
    display: none;
}

.hero-3 .content-container {
    margin-top: 0;
    padding-top: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    max-width: 35rem;


    position: relative;
    z-index: 3;
}

.hero-3 .percentages-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.hero-3 .percentage-1 p:nth-child(1){
    font-size: xx-large;
    font-weight: bold;
} 
.hero-3 .percentage-1 p:nth-child(2){
    font-size: x-small;
} 

.hero-3 .percentage-2 p:nth-child(1) {
    font-size: xx-large;
    font-weight: bold;
} 
.hero-3 .percentage-2 p:nth-child(2) {
    font-size: x-small;
}

.hero-3 .hero-overlay, .hero-3 .hero-grid {
    left: 0;
    height: 28rem;
    margin-top: 8rem;
}

.hero-3-title-br {
    display: none;
}

.scrolling-section {
    width: 100vw;
    overflow: hidden;
    margin-top: 5rem;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroller-container {
    width: 80%;
    height: fit-content;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-left: 10vw;

    gap: 1rem;
}

.scrolling-cards {
    width: fit-content;

    padding: 1rem 2rem;


    background-color: var(--color-2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    position: relative;

    border-radius: 12px;
}

.scrolling-cards .info-container {
    width: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.brand-name {
    font-size: normal;
}

.brand img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.info-container .value-change, .info-container .value {
    font-size: small;
    width: fit-contents;
}
.graph {
    margin-top: 1rem;
    width: 10rem;
}
.graph svg {
    width: 100%;
    height: 100%;
    fill: var(--color-3);
}



